
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_PORT=

OLLAMA_URL=
OLLAMA_PORT=
OLLAMA_MODEL=

ALEPH_ALPHA_API_KEY=

OPENAI_API_KEY=

# For Google Cloud Credentials
GOOGLE_APPLICATION_CREDENTIALS_BASE64=

# For AWS Credentials - Recommended to use assume role for service if running on AWS instead of this
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

CLOUD_PROVIDER=# use aws or gcs
DOCUMENTS_BUCKET=
